
*{
    margin: 0;
    scroll-behavior: smooth;
}
.estilo{
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
   
}
.estilo2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 1.5em;
}

/*Header*/
.header_fondo{
    background: url("./imagenes/wie-viele-zaehne-bekommt-ein-mensch.jpg") no-repeat center;
    width: 100%;
    height: 80vh;  
}

.header_titulo{
    padding: 3em;
}
.iniciar_titulo{
    display: flex;
    justify-content: space-between;
}
.iniciar_sesion{
    display: flex;
    flex-direction: column;    
    color: white;
    text-decoration: none;
    text-align: center;    
}
.fa-user{
    color: white;
}

.titulo_img_banner img{
    display: none;
}

.insumos_titulo{
    font-size: 4em;
    font-weight: 500;
    padding-bottom: .2em;
    margin-right: 0.5em;
  
}
.nav_container{
    font-size: 1em;
    justify-content: space-around;
}
.link_nav{
    text-decoration: none;
    color: bisque;
    font-weight: bold;
    cursor: pointer;
    scroll-behavior: smooth;
    
}
.link_nav:hover{
    color: white;
    text-decoration: underline;
}
.container__titulo__parrafo{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 50%;
}

._titulo{
    font-size: 2.5em;
    font-weight: 300;    
}
._parrafo{
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 1em;
    color: black;
    font-weight: bold;
    width: 80%;    
}
@media screen and (max-width: 768px) {
    .header_fondo{
        background: none;
        height: auto;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;              
    }
 
    .header_titulo{
        padding: 0;
        padding-top: 1.5em;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    
    .nav_container{
       
        margin-bottom: .5em;
        justify-content: left;       
        padding: 0 0;
        width: 100%;
        justify-content: initial;
    }
    
    .iniciar_sesion{
        display: flex;
        flex-direction: column;        
        color: rgb(25, 68, 241);
        text-decoration: none;
        text-align: center;
        font-size: 1em;
       padding: .5em;      
    }
    
    .fa-user{
        color: rgb(25, 68, 241);
    }
    .titulo_img_banner{
        display: flex;
        
    }
    .titulo_img_banner img{
        display:block ;
        width: 40px;
        height: 40px;
        margin-right: 2em;
    }
    .insumos_titulo{
        font-size: 2em;
        font-weight: 500;             
        color: rgb(39, 173, 203);
        padding-bottom: 0;
        margin-bottom: 1em; 
    }
    .link_nav{
        text-decoration: none;
        color: rgb(25, 68, 241);
        font-weight: bold;
        cursor: pointer;
        scroll-behavior: smooth;
        font-size: 1em;
    }
    .link_nav:hover{
        color: black;
    }
    .link_nav:active{
        color: blueviolet;
    }
    ._titulo{
        display: none ;
        
    }
    .container__titulo__parrafo{
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em; 
    }
    ._parrafo{
        text-align: left; 
        font-size: 1em;
        margin-top: 1em;            
        font-family: "Roboto", sans-serif;
        font-style: normal;         
        font-weight: none;
        width: 100%;        
    }    
}

/*MAIN*/

.separa{
    height: 5vh;
    background-color: black;
    margin-bottom: 1em;   
}
#nosotros{
    height: 20vh;
    padding: 1em 2em;
    
}
#nos_p{
    color: blue;
    font-size: 1em;
}
#nos_p_2{
    display: none;
}
.estilo4{
    color: black;
    text-align: center;
    margin-bottom: 1em;
}
.separa_header_color{
    background-color: black;
    height: 70vh;
    margin-bottom: 1em;
}
#secciones{
    padding-top: .2em;
}
.seccion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.caja_producto{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 40vh;
    cursor: pointer;
    justify-content: center;
}
.caja_producto:hover{
    border: solid aqua 6px;
}
.producto_imagen{
    height: 30vh;
    width: 100%;
}

.producto_titulo{
    color: rgb(80, 199, 226);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5em;
    background-color: white;
    height: 20%;
    align-self: initial;
}
/*****************************************/
@media screen and (max-width:768px) {
    .main_container{
        margin: 0;

    }
    .separa{
        height: .4vh;
        background-color: black;
        margin-bottom: 1em;
        width: 100%;
    }
    #nosotros{
        height: auto;
        margin-left: .5em;
        margin-right: 1em;
        padding: 0 0;
        margin-bottom: 1em;
    }
    .estilo4 {
        margin-bottom: 0;
    }
    #nosotros h2{
        font-size: 1.5em;
        padding: 0 0;

    }
    #nos_p{
        display: none;
    }
    #nos_p_2{
        display:block;
        height: auto;
        width: 100%;
        color: blue;
        font-size: .8em;
        margin-top: .5em;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }
    .separa_header_color{
        background-color: rgb(133, 154, 197);
        height: auto;
        margin-bottom: .2em;
    }
    #secciones h2{
        font-size: 1.5em;
        padding: 0 0;
        margin-top: .2em;
        margin-bottom: .2em;

    }
    .caja_producto{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 17vh;
        cursor: none;
        justify-content: center;
    }
    
    .caja_producto:hover{
        border: none;
    }
    .seccion img{
        height: 10vh;
    }
    .producto_titulo{
        font-size: .8em;
        color: black;
    }
}
/*FOOTER CON Encontranos*/
.footer_caja{
    color: black;
    
}
#ubicacion{
    background-image: url("./imagenes/muela_celeste_sonrie.png");
    background-attachment: fixed;
    height: 10vh;
}
.encontranos{
    color: black;
    padding-top: 1em;
}

.container__footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    height: auto;
    padding-bottom: 1em;
}
.container__redes{
    display: flex;
}
.container__contac{
    display: flex;
    flex-direction: column;
}

.menu__titulo{
    list-style-type: none;
    color:rgb(80, 199, 226);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    font-weight: 300;
}
.menu__item{
    list-style-type: none;
    align-content: space-between;
}
.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__item{
    list-style-type: none;
}
.footer__icon{
    width: 0.5rem;
    height: 0.5rem;
}

.fa-brands{
    color: white;

}
.footer__icon:hover{
    color: white;
}
.maquetado{
    background-color: rgb(39, 173, 203);
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0;
    height: 2em;
}

@media screen and (max-width:768px) {
    .footer_caja{
        height: auto;
        background-color: black;
        justify-content: left;
        margin: 0;
       
    }
    
    #ubicacion{
        height: auto;
        background-image: none;
        background-color: rgb(160, 222, 240);
        margin-bottom: 1em;
    }
    .encontranos{
        font-size: 1.5em;
        padding-top: .4em;
        padding-bottom: .4em;
        margin-top: .2em;
        margin-bottom: .5em;
   }
    .container__footer{
        height: auto;
        padding: 0 .2em 0 0;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
    .nav_ubicacion ul{
        margin-top: 0;
    }
    .menu__titulo{
        margin-top: 1em;
    }
    
    .menu__item{
        list-style-type: none;
        align-content:normal;
    }
    .maquetado{
        font-weight: normal;
        color: red;
        font-size: 1em;
    }
}
/*-----------------------------*/
/*PRODUCTOS.HTML*/
*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

.header_fondo_prod{
    background: url("./imagenes/muela_explorador.png") no-repeat center;
    width: 100%;
    height: 60vh;
}
.caja_header_productos{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.container_tit_carrito{
    display: flex;
    justify-content: space-between;  
}
.caja_carrito{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 2em;
    margin-right: 1em;
}
.icon_carrito{
    width: 1em;
    height: 1em;
    text-align: right;
}
.cantidad{
    font-size: 1em;
    color: white;
}
.icon_carrito_celeste{
    display: none;
}
.insumos_tit_prod{
    font-size: 4em;
    font-weight: 500;
    padding-bottom: .2em;
    margin-top: 1em;
}
.link_prod{
    text-decoration: none;
    color: bisque;
    font-weight: bold;
    cursor: pointer; 
}
.link_prod:hover{
    color: white;
    text-decoration: underline;
}
.botones_secciones{
    justify-content: space-around;
}
.nav_botones_secciones{
    display: flex;
   justify-content: center;
}
.boton_inst{
    background-color: rgb(50, 50, 230);    
    padding: .5em 1.5em;
    margin: 1em;
    margin-right: .5em;
    list-style-type: none;
    border-radius: 10px;
}
.link_boton{
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
.link_bot{
    display: none;
}

.titulo_seccion{
    padding: .6em;
    background-color: rgb(80, 199, 226);
    font-size: 1.2em;
    color: white;
    text-align: center;    
}
.seccion_prod{
    display: flex;
    flex-wrap: wrap;
}
.caja_prod{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 50vh;   
    border: solid rgb(128, 116, 85) 2px;
    margin: 2em 2.5em;   
}
.prod_imagen{
    width: 100%;
    height: 30vh;
}
.prod_titulo{
    color: black;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    background-color: white;
    height: 2vh;
    align-self: initial;
    margin-bottom: 1em; 
}
.prod_descrip{
    font-size: .8em;
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
    height: 25vh;
}
.prod__boton{
    padding: .7em 1em;
    background-color: rgb(128, 116, 85);
    color: white;
    font-weight: bold;
    border: 0;
    margin-top: 0.5em;
    cursor: pointer;
    height: 10vh;   
}

@media screen and (max-width: 768px) {
    .header_fondo_prod{
        background: none;
        height: 18vh;
        margin-top: 1em ;
        margin-bottom: 2em;
        margin-left: .5em;
        margin-right: .5em;
              
    }
    .caja_header_productos{       
        margin-bottom: 1.2em;
        justify-content: left;       
        padding: 0 0;
        margin-left: 0;
    }
    .titulo_img_banner{
        display: flex;
    }
    .caja_carrito{
        margin-right: 1em;
    }
    .cantidad{
        color: rgb(39, 173, 203);
        font-size: .5em;
    }
    
    .insumos_tit_prod{
        font-size: 1.2em;
        font-weight: 500;             
        color: rgb(39, 173, 203);
        padding-bottom: 0;     
    }
    .img_banner{
        width: 40px;
        height: 40px;
    }
    
    .link_prod{
        text-decoration: none;
        color: rgb(25, 68, 241);
        font-weight: bold;
        cursor: pointer;
        scroll-behavior: smooth;
        font-size: .5em;
    }
    .link_prod:hover{
        color: black;
    }
    .icon_carrito{
        display: none;
    }
    
    .icon_carrito_celeste{
        display: block;
        width: .7rem;
        height: .7rem;
        text-align: right;
    }
        
    .caja_carrito{
        display: flex;
        flex-direction: column;
        margin-top: 0;  
    }
    ._titulo{
        display: none;
        
    }
    .container__titulo__parrafo p{
        text-align: left; 
        font-size: .6em;
        margin: 0;
        margin-right: 1em;
        color: rgb(39, 173, 203);      
        font-family: "Roboto", sans-serif;
        font-style: normal;         
        font-weight: none;
        width: 100%;        
    }
   .nav_botones_secciones{
        display: none;
        flex-direction: none;  
    }
    .boton_inst{
        display: none;
        background-color: none;    
        list-style-type: none;
        border-radius: none;          
    }
    .nav_secciones{       
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        height: 3vh;
          
    }
    .link_bot{       
        display: inline;
        color: blue;
        font-size: .5em;       
        font-weight: bold;               
    }
    .titulo_seccion{
        font-size: .6em;
        padding: 0.5em 0.5em;
        margin-top: .2em;
        margin-bottom: .2em;
    }
        
    .caja_prod{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: auto;   
        border: solid rgb(128, 116, 85) 2px;
        margin: 1em .5em;   
    }
    .prod_imagen{
        width: 100%;
        height: 10vh;
    }

    .prod_titulo{
        color: black;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: .5em;
        background-color: white;
        height: 2vh;
        align-self: initial;
        margin-bottom: .2em;

    }
    .prod_descrip{
        font-size: .5em;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: 7vh;
    }
    .prod__boton{
        padding: .2em 1em;
        background-color: rgb(128, 116, 85);
        color: white;
        font-weight: bold;
        border: 0;
        margin-top: 0.5em;
        cursor: pointer;
        height: 3vh;
        font-size: .4em;
    }
    
    .titulo_seccion{
        padding: .2em;
        background-color: rgb(80, 199, 226);
        color: white;
        text-align: center;    
    }
}

/*RESEÑAS.HTML*/
.header_fondo_not{
    background: url("./imagenes/muela_explorador.png") no-repeat center;
    width: 100%;
    height: 60vh;
}

._titulo{
    color:white ;    
}

.footer__item{
    list-style-type: none;
}/*
.resenas_fondo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/
.footer__icon{
    width: 0.5rem;
    height: 0.5rem;
}

.fa-star{
    color: rgb(34, 34, 19);
}
.fa-regular{
    color: black;
}
.resenas_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resenas_fieldset{
    justify-content: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 30em;
    max-height: 40vh;
    margin-top: 1em;
    margin-left: 3em;
    border-radius: 10px ;
    border: 5px solid black;
}

.resena_titulo{
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(0, 199, 226);
}
#resena_text{
    max-height: 30vh;
    resize: none;
}
#btn_publicar{
    width: 10em;
    height: 2em;
    background-color: rgb(50, 50, 230);
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.resenas1{
    display: grid;
    grid-template-columns: repeat(4, 17em);/*18em es el ancho de las columnas*/
    grid-template-rows: repeat(5, 10em);/*17em de altura para la primera fila porque está la pantalla*/
    margin-top: .5em;
    justify-content: center;
}
.resenas1_cajita{
    background-color: rgb(0, 199, 226);
    margin: .5em .2em; 
    padding: .6em .6em;   
    color: white;
    font-weight: bold;    
    border-radius: 10px solid rgb(121, 121, 236);
}
.prod_usuario{
    background-color: rgb(121, 121, 236);
    border-radius: 5px;
    padding: 0.2em 0.4em;
    text-align: center;
}
@media screen and (max-width:768px) {
    .header_fondo_not{
        height: 18vh;
        background: none;        
        justify-content: center;
        margin: 1em 2em .5em .5em;       
    }
    .resenas_fondo{
        justify-content: center;
    }
    
        
    fieldset{
        display: flex;
        flex-direction: column;
        text-align: left;
        max-width: 9.5em;
        max-height: auto;
        margin-top: 1em;
        margin-left: .5em;
        border-radius: 5px ;
        border: 2px solid black;
    }


    .resena_titulo{
        margin-top: .3em;
        margin-bottom: .3em;
        color: rgb(0, 199, 226);
        font-size: .5em;
    }
    #resena_text{
        max-height: 30vh;
        resize: none;
    }
    #btn_publicar{
        width: 6em;
        height: 2em;
        background-color: rgb(50, 50, 230);
        color: white;
        font-size: .4em;
        font-weight: normal;
        text-align: center;  
    }

    .resenas1{
        display: grid;
        grid-template-columns: repeat(2, 6em);/*6em es el ancho de las columnas*/
        grid-template-rows: repeat(5, 6em);/*6em de altura para la primera fila porque está la pantalla*/
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
    }
    .resenas1_cajita{
        background-color: rgb(0, 199, 226);
        margin: .5em .1em; 
        padding: .2em .2em;    
        color: white;
        font-weight: bold;    
        border-radius: 5px solid rgb(121, 121, 236);    
    }
    .prod_usuario{
        background-color: rgb(121, 121, 236);
        border-radius: 5px;
        padding: 0.2em 0.4em;
        text-align: center;
        font-size: .6em;
        
    }
    .col{
        font-size: .5em;
    }

    
}
/*FORM CONTACTO.HTML*/

.parrafo_muelita{
    display: flex;
}
.contacto_img{
    width: 40px;
    height: 40px;
   
}
.contacto_form{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}
form textarea{
    min-height: 50px;
    resize: none;    
}

.contacto_botones{
    display: flex;   
 }   
.btn_publicar{
    width: 10vw;
    height: 3vh;
    background-color: rgb(50, 50, 230);
    color: white;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    margin-right: .5em;
}


@media screen and (max-width:768px) {
  
    .contacto_img{
        display: none;
    }
    
    .contacto_form{
        display: flex;
        flex-direction: column;
        margin: .5em .2em .5em .2em;       
        background-color: rgb(244, 237, 237);      
        height: 39vh;
    }
    form textarea{
        min-height: 50px;
        resize: none;
        font-size: .5em;            
    }
    .campo_text{
        font-size: .9em;

    }
    .labe{
        font-size: .5em;
    }
     .contacto_botones{
        display: flex;
        justify-content: space-around;
        align-items: center;
     }   
    .btn_publicar{
        width: 30vw;
        height: 2.5vh;
        background-color: rgb(50, 50, 230);
        color: white;
        font-size: .4em;
        font-weight: normal;
        text-align: center;  
    }
} 




