
*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}
.estilo{
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    
   
}
.estilo2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: center;
    padding: 1.5em;
}
.nombre_parr{
    font-size: 3em;
    text-align: center;
    padding: 1em;
}

/*Header*/
.header_fondo{
    background: url("./imagenes/wie-viele-zaehne-bekommt-ein-mensch.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    position: relative;   
    width: 100%;
    height: 70vh;  
}
.caja_sesion{
    display: flex;
    justify-content: right;
    padding: 1.5em;
    padding-bottom: 0;
}
.iniciar_sesion{
    display: flex;
    flex-direction: column;    
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}
.header_titulo{
    padding: 3em;
    padding-top: 1em;
}
.fa-user{
    color: white;    
}

.titulo_img_banner img{
    display: none;
}

.insumos_titulo{
    font-size: 8em;
    font-weight: 500;
    padding-bottom: .2em;
    margin-right: 0.5em;
  
}
.nav_container{
    font-size: 2.5em;
    justify-content: space-around;
}
.nav_container_res{
    display: none;
}
.link_nav{
    text-decoration: none;
    color: bisque;
    font-weight: bold;
    cursor: pointer;
    scroll-behavior: smooth;
    
}
.link_nav:hover{
    color: black;
    text-decoration: underline;
}
.container__titulo__parrafo{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 50%;
}

._titulo{    
    font-size: 5em;
    font-weight: 300;    
}
._parrafo_index{
    margin-top: 1em;
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 1em;
    color: black;
    font-weight: bold;
    width: 90%;    
}
@media screen and (max-width: 768px) {
    .header_fondo{
        background: none;
        height: auto;
        margin-bottom: 3em;
        margin-left: 0.1em;
        margin-right: 0.1em;
        /*box-shadow: 0 3px 5px rgba(0,0,0,0.104);*/
              
    }
    .caja_sesion{
        display: flex;
        justify-content: right;
        padding-bottom: 0;
        padding-right: .4em;
    }    
    .iniciar_sesion{
        display: flex;
        flex-direction: column;        
        color: rgb(25, 68, 241);
        text-decoration: none;
        text-align: center;
        font-size: 1em;
       padding: .5em;      
    }
    .iniciar_sesion p{
        display: none;
    }
    .fa-user{
        color: rgb(25, 68, 241);
    }
    
    .header_titulo{    
        padding: 0;    
        padding-top: 1.5em;
        padding-bottom: .5em;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
    }
    
    .insumos_titulo{
        font-size: 2.5em;
        font-weight: 500;             
        color: rgb(39, 173, 203);
        padding-bottom: 0;
        margin-bottom: 0.5em; 
    }
    .titulo_img_banner{
        display: flex;        
    }
    .titulo_img_banner img{
        display:block ;
        width: 40px;
        height: 40px;
        margin-right: 0;
    }
    
    .nav_container{
        display: none;
    }
    .nav_container_res{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        font-size: 1em;       
        margin-bottom: 1em;
        margin-right: 0;      
        padding: 0 0;
        width: 100%;
        padding: .6em;
        background-color: white;        
    }
    .link_nav{
        text-decoration: none;
        text-align: center;
        color: rgb(39, 173, 203);
        font-weight: bold;
        cursor: pointer;
        scroll-behavior: smooth;
        font-size: 1em;
        padding: .2em;
        border-bottom: solid 1px rgb(39, 173, 203);       
        width: 100%;
    }
    .link_nav:hover{
        color: black;
    }
    .link_nav:active{
        color: blueviolet;
    }
    .container__titulo__parrafo{        
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ._titulo{    
        font-size: 1.5em;
        font-weight: 300;
        color: black;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
    ._parrafo_index{
        display: none;
        text-align: left; 
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: .5em;            
        font-family: "Roboto", sans-serif;
        font-style: normal;         
        font-weight: none;
        width: 100%;        
    }
}

/*MAIN*/

.separa{
    height: 5vh;
    background-color: black;
    margin-bottom: 1em;   
}
#nosotros{  
    padding: 1em 2em 6em 2em;
    
}
#nos_p{
    color: blue;
    font-size: 2.5em;
    text-align: center;
}
#nos_p_2{
    display: none;
}
.estilo4{
    color: black;
    text-align: center;
    margin-bottom: 1em;
}
.separa_header_color{
    background-color: black;
    height: 50vh;
    margin-bottom: 0;
}
#secciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-top: 2em;
}
.caja_producto{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: 40vh;
    cursor: pointer;
    justify-content: center;
}
.caja_producto:hover{
    border: solid aqua 6px;
}
.producto_imagen{
    height: 30vh;
    width: 100%;
}

.producto_titulo{
    color: rgb(80, 199, 226);
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    padding-top: 1em;
    font-weight: bold;
    font-size: 3em;
    background-color: white;
    height: 20%;
    align-self: initial;
}
/*****************************************/
@media screen and (max-width:768px) {
    .main_container{
        margin: 0;

    }
    .separa{
        height: .4vh;
        background-color: black;
        margin-bottom: 1em;
        width: 100%;
    }
    #nosotros{
        height: auto;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0 0;
        margin-bottom: 1em;
    }
    .estilo4 {
        margin-bottom: 0;
    }
    .nombre_parr{    
        font-size: 1em;
        text-align: center;
        padding: 1em;
    }

    #secciones{
        padding-top: 1.5em;
    }
    #nos_p{
        display: none;
    }
    #nos_p_2{
        display:block;
        height: auto;
        width: 100%;
        color: blue;
        font-size: 1em;
        text-align: center;
        margin-top: .5em;
        font-family: "Roboto", sans-serif;
        font-style: normal;
    }
    .separa_header_color{
        background-color: rgb(133, 154, 197);
        height: 25vh;       
        margin-top: 2em;
        margin-right: .2em;
        margin-left: .2em;
    }
    .caja_producto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 28%;
        height: 20vh;
        cursor: none;
          
    }    
    .caja_producto:hover{
        border: none;
    }
    #secciones img{
        height: 15vh;
    }
    
    .producto_titulo{
        font-size: .8em;
        color: black;
    }
}
/*FOOTER CON Encontranos*/
#ubicacion{
    background-image: url("./imagenes/muela_celeste_sonrie.png");
    background-attachment: fixed;
    height: 10vh;
}
.encontranos{
    color: black;
    padding-top: 1em;
}

.container__footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    height: auto;
    padding: 6em;
    font-size: 2em;
}
.container__redes{
    display: flex;   
}
.container__contac{
    display: flex;
    flex-direction: column;
}
.menu__titulo{
    list-style-type: none;
    color:rgb(80, 199, 226);      
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1em;
    font-weight: 300;
}
.menu__item{
    list-style-type: none;
    align-content: space-between;
    text-decoration: none;
    color: white;
    
}
.menu__item:hover{
    color: bisque;
    
}

.footer__social{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footer__item{
    list-style-type: none;
    
}
.footer__icon{
    width: 0.5rem;
    height: 0.5rem;
    
}
.fa-brands{
    color: white;
}
.footer__icon:hover{
    color: white;
}
.frame{
    width: 700;
    height: 500;
}

.link_boton{
    color: white;
    list-style-type: none;
    text-decoration: none;
}
.maquetado{
    background-color: rgb(39, 173, 203);
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0;
    height: 2em;
    font-size: 2em;
}

@media screen and (max-width:768px) {
    .footer_caja{
        height: auto;
        background-color: black;
        justify-content: left;
        margin: 0;
        margin-right: .2em;
        margin-left: .2em;
    }
    
    #ubicacion{
        height: auto;
        background-image: none;
        background-color: rgb(160, 222, 240);
        margin-bottom: 1em;
    }
    .encontranos{
        font-size: 1.5em;
        padding-top: .4em;
        padding-bottom: .4em;
        margin-top: .2em;
        margin-bottom: .5em;
   }
   .nombre_parr{    
    font-size: 1em;
    text-align: center;
    padding: 1em;

   }
    .container__footer{
        height: auto;
        padding: 0 .2em 0 0;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        font-size: .8em;
    }
    .nav_ubicacion ul{
        margin-top: 0;
    }
    .menu__titulo{
        margin-top: 1em;
    }    
    .menu__item{        
        align-content: normal;
    }
    .link_boton{
        color: white;
        list-style-type: none;
        text-decoration: none;
    }
    iframe{
        width: 350;
        height: 250;
    }
    .maquetado{
        font-weight: normal;
        color: black;
        font-size: 1em;
    }
}






